h1
{color: #DE3CE3;
font-family: Broadway;
	}
body
{
	background-color:#FFF5EE;
	}
table
{
max-width:100%;
background-color:#FDEEF4;
font-family: eras demi its;
border-top-style: dotted;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: none;
border-color:#FAB7F5
}
header{
    margin:0 auto;
	max-width:80%;
	background-color:#DE3CE3;
    }
	
pre
{
front-size:200%;
				font-family: Corbel;
				color: #e600ac;
				padding: 15px;
				text-align: center;
  }
   footer{
    max-width:80%;
    margin:0 auto;
	float: right;
}